<%= form_tag('/search', :method => "get", :remote => true, :class => "search") do %>

	<div class="form-group search-form-group">
		<%= label_tag 'print_method', 'Print Method' %>
		<%= select_tag 'print_method_id', options_for_select(print_methods), {"ng-model" => "data.print_method_id", "class" => "form-control search-form-control print_method_id", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'ink_colors', 'Ink Colors' %>
		<%= select_tag 'ink_color_id', options_for_select(ink_colors), {"ng-model" => "data.ink_color_id", "class" => "form-control search-form-control print_method_id", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'bleeds' %>
		<%= select_tag 'bleed_id', options_for_select(bleeds), {"ng-model" => "data.bleed_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'raised_inks', 'Raised Inks' %>
		<%= select_tag 'raised_ink_id', options_for_select(raised_inks), {"ng-model" => "data.raised_ink_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'dimensions' %><a class="edit-menu" href="/dimensions"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'dimension_id', options_for_select(dimensions), {"ng-model" => "data.dimensions_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<!-- 'dir' => 'rtl' -->

	<div class="form-group search-form-group">
		<%= label_tag 'coatings' %><a class="edit-menu" href="/coatings"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'coating_id', options_for_select(coatings), {"ng-model" => "data.coating_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'quantities' %><a class="edit-menu" href="/quantities"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'quantity_id', options_for_select(quantities), {"ng-model" => "data.quantity_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'box_counts', 'Box Count' %><a class="edit-menu" href="/box_counts"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'box_count_id', options_for_select(box_counts), {"ng-model" => "data.box_count_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group">
		<%= label_tag 'metals' %><a class="edit-menu" href="/metals"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'metal_id', options_for_select(metals), {"ng-model" => "data.metal_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<div class="form-group search-form-group paper-type">
		<%= label_tag 'paper_types', 'Paper Type' %><a class="edit-menu" href="/paper_types"><i class="edit glyphicon glyphicon-plus"></i></a>
		<%= select_tag 'paper_type_id', options_for_select(paper_types), {"ng-model" => "data.paper_type_id", "class" => "form-control search-form-control", 'dir' => 'rtl'} %>
	</div>

	<%= submit_tag 'Search', class: "btn small-btn-style homepage-button small-btn-search" %>

<% end %>

	<%= button_to 'Reload', root_path, method: :get, class: "btn small-btn-style cancel homepage-button" %>

	<h3 id="selling-price">
		Selling Price: 
		<span class="price-info">
			<span class="price">$0</span>

		</span>
	</h3>

	<div class="details hide">

		<h4 id="production-cost">
			Production Cost: 
			<span class="price-info">
				<span class="cost"></span>
			</span>
		</h4>

		<h4 id="overhead">
			Overhead: 
			<span class="price-info">
				<span class="overhead"></span>
			</span>
		</h4>

		<h4 id="margin">
			Margin: 
			<span class="price-info">
				<span class="margin"></span>
			</span>
		</h4>

		<div id="quote-text">
			<p><strong>Item:</strong> Business Cards<br>
			<strong>Size:</strong> Standard <span id="quote-dimensions"></span><br>
			<strong>Paper:</strong> <span id="quote-paper"></span><br>
			<strong>Ink:</strong> <span id="quote-ink"></span> <span id="quote-print-method"></span><br>
			<strong>Finishing:</strong> <span id="quote-finishing"></span><br>
			<strong>Quantity:</strong> <span id="quote-quantity"></span> Business Cards<br>
			<strong>Box Count:</strong> <span id="quote-box-count"></span><br>
			<strong>Printing:</strong> <span id="quote-price"></span> Per Box<br>
			<strong>Graphics:</strong> $0 (TBD)<br>
			<strong>Turnaround:</strong> <span id="quote-turnaround"></span><br>
			<br>
			<strong>Total:</strong> $<span id="quote-total"></span>.00<br>
			<br>
			<i>*The above prices exclude tax and shipping if applicable.</i></p>
		</div>

	</div>

	<div class="details-button">
		<div class="details-line hide"></div>
		<div class="under-line"></div>
		<i class="glyphicon glyphicon-plus expand-details detail-icons hide"></i>
		<i class="glyphicon glyphicon-minus minimize-details detail-icons hide"></i>
	</div>
















