<% provide(:title, "Help") %>

<h1 id="help-page">Help Page</h1>

<h4 class="help-questions">I've Already Registered But I Can't Log In?</h4>
<p>In order to protect the sensitive information on this site, not just anyone can create an account. <strong>You must be an employee to use this app.</strong> Even though you have already signed up for the app, an administrator must approve you before you can receive a confirmation email.</p>
<%= image_tag("awaiting-approval.png", class: "help-images") %>
<br>
<%= image_tag("account-not-activated.png", class: "help-images") %>
<br>
<p>The approval process usually takes a few hours, but might require a couple of days depending on how busy our administrators are.</p>
<p>When you receive a confirmation email, there is an activation link you must click on in order to complete your registration. This email link will expire within 1 hour from the time the email was sent. So please be sure to click on the link immediately after you receive the email.</p>

<br>

<h4 class="help-questions">Is There Any Way To View Similar Products?</h4>
<p>At the moment, there is only one way to see similar products. They are displayed by default when you are prompted to add pricing and cost information.</p>
<%= image_tag("similar-products.png", class: "help-images") %>
<br>
<p>Specifically, when you fill out the main form (when searching for a particular item) and no product is found, you will notice the two fields below the form requesting pricing and cost information. Below those fields, you will see similar products if they exist. They are listed in increments of 5.</p>

<br>

<h4 class="help-questions">The Price or Cost Has Changed For An Existing Item?</h4>
<p>If the price or cost has changed for a particular item, you can adjust either figure very easily. Simply click on the little <strong>"i"</strong> icon located just to the right of either label.</p>
<%= image_tag("edit-price.png", class: "help-images") %>
<br>
<p>If the edit was successful, you will see a small message at the top of your screen confirming that the process was completed. Even so, its always good to double check for yourself by looking up the item again.</p>

<br>

<h4 class="help-questions">The Select Tags Don't Have What I'm Looking For?</h4>
<p>Certain select tags on the main search form are editable. You can add more of any given category simply by clicking on the <strong>"+"</strong> button</p>
<%= image_tag("add-attribute-button.png", class: "help-images") %>
<br>
<p>After you click on the <strong>"+"</strong> Button, you will be directed to a page that allows you to enter the information of the item that is missing. Simply click on the "New [something]" button.</p>
<%= image_tag("add-attribute-form.png", class: "help-images") %>
<br>

<br>

<h4 class="help-questions">Can't Find What You're Looking For?</h4>

<% if current_user %>

	<p>Please fill out the form below with any questions or issues you may have. We will get back in touch with you as soon as possible with an answer or resolution.</p>

	<br>

	<%= render 'contact_form' %>

<% else %>

	<p>Please <%= link_to "log in", login_path %> when possible and fill out the form on this same page (help page). We will get back in touch with you as soon as possible with an answer or resolution.</p>

<% end %>











