<% if logged_in? %>

	<div class="row">
		<div ng-controller="infoController">

			<div class="search-form">
					<h1 class="text-center main-header">Search</h1>
					<%= render 'search_form' %>
			</div>

			<div class="new-bc-form hide"> <!-- hide this after debugging -->
				<!-- <h1 class="text-center main-header">Enter New BC</h1> -->
				<%= render 'new_bc_form' %>
			</div>
			
			<h3 class="text-center similar-header main-header hide">Similar Products</h3>
			<div class="similar-products"></div>
			<%= render 'load_more_form' %>

		</div>
	</div>

<% else %>

	<div class="center jumbotron headliner-div">
		<h1 class="headliner">Business Card Price Checker</h1>

		<h2>Please <%= link_to "log in", login_path %> to access the price estimate form.</h2>

		<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<script type="text/javascript">
		$('body').css('background-image', 'url(<%= asset_path("background.svg") %>)');
	</script>

<% end %>

