<% if logged_in? %>

	<div class="row">
		<div ng-controller="infoController">
			<h4 class="how-to-use-header center">How do I use this site?</h4>
			<div class="how-to-use">
				<h4>Query the DB with the following sample data:</h4>
				<p><strong>Print Method:</strong> Pantone Offset</p>
				<p><strong>Ink Colors:</strong> 1/0</p>
				<p><strong>Quantities:</strong> 500</p>
				<p><strong>Box Count:</strong> 1</p>
				<p><strong>Paper Type:</strong> Classic Crest / Solar White / 130lb</p>
				<p class="gray"><i>**You can leave the other specs alone.</i></p>
				<p>This should result in an estimate. Click on the <strong>"+"</strong>at the very bottom for more info.</p>
				<br>
				<h4>Now try changing one of the other specs and enter your own price:</h4>
				<p><strong>Print Method:</strong> Pantone Offset</p>
				<p><strong>Ink Colors:</strong> 1/0</p>
				<p class="red"><strong>Raised Inks:</strong> 1/0</p>
				<p><strong>Quantities:</strong> 500</p>
				<p><strong>Box Count:</strong> 1</p>
				<p><strong>Paper Type:</strong> Classic Crest / Solar White / 130lb</p>
				<p>This should result in a couple blank form fields. You can enter an imaginary price and cost, like Price: 200 and Cost: 100.</p>
				<br>
				<h4>Now try clicking on the SEARCH button without anything selected:</h4>
				<p>This should result in the mandatory specs being highlighted in red. You cannot proceed without those specs having some sort of value.</p>
			</div>

			<div class="search-form">
					<h1 class="text-center main-header">Search</h1>
					<%= render 'search_form' %>
			</div>

			<div class="new-bc-form hide">
				<%= render 'new_bc_form' %>
			</div>
			
			<h3 class="text-center similar-header main-header hide">Similar Products</h3>
			<div class="similar-products"></div>
			<%= render 'load_more_form' %>

		</div>
	</div>

<% else %>

	<div class="center jumbotron headliner-div">
		<h1 class="headliner">Business Card Price Checker</h1>

		<h2>Please <%= link_to "log in", login_path %> to access the price estimate form.<br><span class="smaller">(The login credentials are automatically populated)</span></h2>

		<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<script type="text/javascript">
		$('body').css('background-image', 'url(<%= asset_path("background.svg") %>)');
	</script>

<% end %>

