<% provide(:title, 'Sign Up') %>

<div class="col-md-10 col-md-offset-1">
	<h1 class="login-signup">Sign Up</h1>
	<p>You're more than welcome to sign up, but you can just <%= link_to "log in", login_path %> using the pre-populated credentials. Its much easier!</p>
	<br>
</div>



<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.text_field :name, class: "form-control", placeholder: "Name" %>

			<%= f.email_field :email, class: "form-control", placeholder: "Email" %>

			<%= f.password_field :password, class: "form-control", placeholder: "Password" %>

			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation" %>

			<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$('body').css('background-image', 'url(<%= asset_path("background.svg") %>)');
</script>
