<h1 class="main-header">Listing Coatings</h1>

<table class="table index-tables">
  <tbody>
    <% @coatings.each do |coating| %>
      <tr>
        <td><%= multi_capitalize( coating.front ) %> / <%= multi_capitalize( coating.back ) %></td>
        <td class="text-right"><span><%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_coating_path(coating) %><span class="space"></span><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, coating, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'New Coating', new_coating_path, method: :get, class: "btn-style" %>
