<%= form_for @metal, html: { class: "new-resource-form" } do |f| %>

	<% if @metal.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @metal.errors.full_messages.each do |message| %>
        <li><%= message %>!</li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group new-form-group">
    <%= f.label :front %>
    <%= f.text_field :front, class: "new-bc-text-field edit-bc-price form-control new-form-control" %>
  </div>
  <div class="field form-group new-form-group">
    <%= f.label :back %>
    <%= f.text_field :back, class: "new-bc-text-field edit-bc-price form-control new-form-control" %>
  </div>
  <%= f.submit 'Submit', class: "btn small-btn-style" %>
<% end %>

<%= button_to 'Cancel', metals_path, method: :get, class: "btn small-btn-style cancel" %>

