<h1 class="main-header">Listing Metals</h1>

<table class="table index-tables">
  <tbody>
    <% @metals.each do |metal| %>
      <tr>
        <td><%= multi_capitalize( metal.front ) %> / <%= multi_capitalize( metal.back ) %></td>
        <td class="text-right"><%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_metal_path(metal) %><span class="space"></span><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, metal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Metal', new_metal_path, method: :get, class: "btn-style" %>
