<p id="notice"><%= notice %></p>

<p>
  <strong>Front:</strong>
  <%= @metal.front %>
</p>

<p>
  <strong>Back:</strong>
  <%= @metal.back %>
</p>

<%= link_to 'Edit', edit_metal_path(@metal) %> |
<%= link_to 'Back', metals_path %>
