<h1 class="main-header">Listing Paper Types</h1>

<table class="table index-tables">
  <tbody>
    <% @paper_types.each do |paper_type| %>
      <tr>
        <td><%= multi_capitalize( paper_type.name ) %> / <%= multi_capitalize( paper_type.color ) %> / <%= paper_type.thickness %>lb</td>
        <td class="text-right"><%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_paper_type_path(paper_type) %><span class="space"></span><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, paper_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to 'New Paper Type', new_paper_type_path, method: :get, class: "btn-style" %>

