<%= form_for @quantity, html: { class: "new-resource-form" } do |f| %>

	<% if @quantity.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @quantity.errors.messages.each do |message| %>
        <li><%= message[1][0] %>!</li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group new-form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: "new-bc-text-field edit-bc-price form-control new-form-control" %>
  </div>
  <%= f.submit 'Submit', class: "btn small-btn-style" %>

<% end %>

<%= button_to 'Cancel', quantities_path, method: :get, class: "btn small-btn-style cancel" %>
